@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --main-white: #FFFFFF;
    --secondary-grey: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --main-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-white);
}

.main {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__components {
    padding: 0 15%;
}

.container__title {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__button {
    background-color: var(--blue-button);
    border-radius: 8px;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: var(--main-white);
    margin-bottom: 1em;
}

.container__button__secondary {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--main-white);
    padding: 1em;
    display: block;
    text-decoration: none;
    color: var(--main-white);
}

.container__comment {
    color: var(--secondary-grey);
    font-size: 0.75rem
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary__image {
    width: 80%
}

.description__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-white);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-grey);
}